<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Thank, God!</h1>
      <p>
        Lord, your son {{ user.name }} {{ user.lastname }} thanks you so much
        for everything. He prays for his family to you: "{{ products[0] }}, {{
        products[1] }} and {{ products[2] }}".
      </p>
      <ul>
        {% for product in products %}
        <li>{{ product }}</li>
        {% endfor %}
      </ul>
      <a href="/">Home</a>
      <a href="/contact">Contact us...</a>
    </center>
  </body>
</html>
